#empresa {
    background-color: white;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.equipe {
    margin-top: 20px;
    padding: 0 10px;
}

.service-cta {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.btn-d.cta-service {
    width: 100%;
}

@media (min-width:767px) {
    .embla {
        width: 600px;
    }

    .embla__slide {
        flex: 0 0 33.333%;
    }

    .service-cta.btn.mobile {
        width: 50%;
    }
}

@media (min-width:1024px) {
    #empresa {
        padding: 0 100px;
    }

    .info {
        width: 50%;
    }

    .equipe {
        padding: 0 100px;
    }

    .equipe_container {
        padding: 20px 0;
    }

    

    .embla {
        width: 730px;
    }
    
    .embla__viewport {
        
        overflow: hidden;
    }
    
    .embla__slide {
        flex: 0 0 33.333%;
    }
    
    .info.services {
        width: 50%;
    }

}