footer {
    width: 100%;
    height: 20vh;
    background-color: var(--primary_color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   
}

.container-social-media {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width:767px) {
    .container-social-media {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
}

@media (min-width:1024px) {
    .container-social-media {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
}