* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body {
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
}

:root {
    --primary_color: #1b1b1b;
    --secondary_color: #D9D9D9;
    --max_size_menu_mob: calc(100vh - 60px);
    --btn_primary_green: #89D99D;
    --btn_secondary_green: #569F56;
    --text_color: #444;
    --color_emphasis: #7130E6;
}

@media (min-width:1024px) {
    
    .title {
        font-size: 2.5rem;
    }

    .text_info {
        font-size: 1.5rem;
    }
}