.icon {
  width: 40px;
  height: 40px;
}

.logo {
  background-image: url(../../../static/image/logo_desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.close {
  background-image: url(../../../static/image/close_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.menu_mobile_icon {
  background-image: url(../../../static/image/menu_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu_options {
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--primary_color);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.ctzd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dstr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  color: var(--primary_color);
  margin-top: 20px;
}

.text_info {
  color: var(--text_color);
  font-size: 1.3rem;
  margin-top: 20px;
}

.text_emph {
  color: var(--color_emphasis);
  font-size: normal;
  font-weight: 600;
}

.btn-d {
  margin-top: 20px;
  width: auto;
  padding: 0 15px;
  height: 40px;
  border-radius: 35px;
  background: linear-gradient(0deg,rgba(96, 41, 196, 1) 0%, rgba(113, 48, 230, 1) 50%, rgba(151, 93, 255, 1) 100%);
  color: white;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-d:hover {
  border: 2px solid var(--color_emphasis);
  background: none;
  color: var(--color_emphasis);
}

.btn-w {
  margin-top: 20px;
  width: auto;
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color_emphasis);
  color: black;
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag {
  margin-top: 20px;
  width: auto;
  padding: 0 5px;
  height: 30px;
  border-radius: 35px;
  color: var(--text_color);
  border: 1px solid var(--color_emphasis);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mr {
  margin-right: 5px;
}

.tag-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.b {
  font-weight: bold;
}

.txtwhite {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0px;
}

.container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-left: 10px;
}

.imagepost {
  width: 100%;
}

.indicative {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-self: flex-start;
}

.indicative_image {
  height: 1rem;
}

.indicative_text {
  font-size: 1.2rem;
  font-weight: 400;
}

.info.services {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

.services-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.box-dropdown {
  width: 90%;
  color: white;
  border: 2px solid var(--color_emphasis);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
}

.box-dropdown-title {
  width: 100%;
  background-color: var(--color_emphasis);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 400;
  height: 50px;
  padding: 0 25px;
  cursor: pointer;
}

.box-dropdown-text {
  color: var(--text_color);
  overflow: hidden;
  width: 100%;
  height: 0;
  font-size: 1.3rem;
}

.box-dropdown-text.is_open {
  padding: 20px 10px;
  height: auto;
}

.service-details {
  display: flex;
  justify-content: space-between;
  background-color: var(--color_emphasis);
  width: 80%;
  height: 40px;
  border-radius: 35px;
}

.archivo_name {
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}

.archivo_position {
  font-family: "Archivo", sans-serif;
  font-size: 1.1rem;
}

.embla {
  --slide-spacing: 5px;
  margin: 0 auto;
  width: auto;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 70%;
  min-width: 0;
  margin-left: var(--slide-spacing);
}

.card {
  width: 100%;
  aspect-ratio: 9/16;
  background-color: white;
  border-radius: 35px;
  box-shadow: 1px 2px 3px gray;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.card-photo {
  width: 100%;
  max-height: 50%;
}

.card-name {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.card-function {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.card-bio {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0.5rem;
  padding: 0 10px;
}

.em {
  font-weight: 400;
}

.equipe-container {
  margin: 50px 0
}

.form-contact {
  margin-top: 30px;
  width: 95%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
  padding: 40px 20px;

}

.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

input {
  width: 99%;
  height: 40px;
  margin-top: 10px;
  border: 1px solid lightgray;
}

.container-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.warning {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #444;
}