header {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 1px 2px 2px lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  top: 0px;
  position: fixed;
  z-index: 10;
}

.menu_horizontal {
  display: none;
}

.menu_mobile {
  width: 0;
  height: 0;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  transition: height 0.5s ease-in-out;
  top: 60px;
  position: fixed;
}

.menu_mobile.is_open {
  width: 100%;
  height: var(--max_size_menu_mob);
}

.menu_mobile.is_open .menu_options {
  opacity: 1;
  transition-delay: 0.5s;
}

.menu_mobile.is_open .close {
  opacity: 1;
  transition-delay: 0.6s;
}

.grouper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    width: 100%;
    height: 70%;
}

.container_mm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
}

.consultoria {
  display: none;
}

#home,
#empresa,
#servico,
#contato {
  scroll-margin-top: 60px;
}

.logo {
  width: 100px;
}

main {
  margin-top: 60px;
}

@media (min-width: 767px) {
}

@media (min-width: 1024px) {
  header {
    padding: 0 100px;
    height: 80px;
  }

  .menu_horizontal {
    display: flex;
    height: 60px;
    width: 500px;
  }

  .menu_mobile_icon {
    display: none;
  }

  .container_mh {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
  }

  .consultoria {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    width: 200px;
    height: 40px;
    background: linear-gradient(0deg,rgba(8, 160, 69, 1) 0%, rgba(107, 191, 89, 1) 100%);
    color: white;

  }

  .consultoria:hover {
    border: 2px solid #08a045;
    color: #08a045;
    background: none;
  }

  .icon {
    width: 200px;
  }

  .menu_options:hover {
    color: var(--secondary_color);
  }

  .menu_options {
    opacity: 1;
    transition: none;
  }

  main {
    margin-top: 80px;
  }

  #home,
  #empresa,
  #servico,
  #contato {
    scroll-margin-top: 80px;
  }

  .logo {
    background-image: url(../../../static/image/logo_desktop.svg)
  }
}
